<h1>Viewing @ViewBag.TheGame.Title</h1>
<h3>Created by: @ViewBag.TheGame.Company</h3>
<h3>Release year: @ViewBag.TheGame.Year</h3>
<h3>Rating: @ViewBag.TheGame.Rating</h3> 
<a href="/UpdateGame/@ViewBag.TheGame.GameId" class="btn btn-primary">Update the game</a>
<a href="/DeleteGame/@ViewBag.TheGame.GameId" class="btn btn-danger">Delete this game</a>
<a href="/DashboardRedir" class="btn btn-info">Back to Dash</a>